@charset 'utf-8';

@import 'settings';
@import './node_modules/foundation-sites/scss/foundation';
// @import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
@include foundation-callout;
@include foundation-card;
// @include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
@include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;

////
/// Planning Labs Custom Styles
////

$dcp-yellow: #ffc861;

.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {
  @extend h6;
  font-weight: $global-weight-normal;
  text-transform: uppercase;
}

p, h1, h2, h3, h4, h5, h6 {
  & + .header-tiny {
    margin-top: $global-margin * 2;
  }
}

.filter--strategic-objectives,
.filter--tags,
.idea--tags {
  .button, .label {
    font-weight: $global-weight-bold;
    margin: 0 0.25rem 0.25rem 0;
  }
}
.filter--tags {

  .button {
    @include button-style($label-background, auto, $label-color);

    &.hollow {
      @include button(false, $label-background, auto, $label-color, hollow);
      font-size: 0.75rem;
      margin: 0 0.25rem 0.25rem 0;
    }
  }
}

.site-header {
  background-color: $white;

  .menu {
    a {
      color: $dark-gray;
      line-height: rem-calc(21);
      padding: rem-calc(23) rem-calc(20);
      font-size:  0.875rem;
      font-weight: $global-weight-bold;

      &:hover {
        background-color: $light-gray;
        color: $black;
      }
    }

    .is-active {
      background-color: $menu-item-background-active;
      box-shadow: inset 0.5rem 0 0 $dcp-yellow;
      @include breakpoint(large) {
        box-shadow: inset 0 -0.5rem 0 $dcp-yellow;
      }

      a {
        color: $black;
        background-color: transparent;
      }
    }
  }
}

.responsive-nav-toggler {
  color: $dark-gray;
  background-color: $light-gray;
  font-size:  0.875rem;
  font-weight: $global-weight-bold;
  line-height: rem-calc(21);
  cursor: pointer;
  margin: 0.625rem 0;
  padding: rem-calc(10) rem-calc(16);
}

// Logo
$logo-height-small: rem-calc(36);
$logo-height: rem-calc(48);
$logo-padding: 0.625rem;

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.site-logo {
  float: left;
  padding: 0.75rem 0 0;
  line-height: 1;
  height: $logo-height-small + $logo-padding;
  overflow: visible;

  @include breakpoint(large) {
    padding: $logo-padding 0 0;
    height: $logo-height + $logo-padding;
  }

  img {
    float: left;
    height: $logo-height-small;
    margin-right: $logo-padding;

    @include breakpoint(large) {
      height: $logo-height;
    }
  }

  span {
    font-size: rem-calc(48);
    float: left;
    position: relative;
    top: rem-calc(-5);

    @include breakpoint(large) {
      font-size: rem-calc(64);
      top: rem-calc(-7);
    }

    &.site-logo--l {
    }
    &.site-logo--a {
      margin-right: -0.05em;
    }
    &.site-logo--b {
      margin-right: -0.03em;
    }
    &.site-logo--s {
    }
  }
}

// Footer
.pl-site-footer {
  background-color: #f1f1f1;
  font-size: $small-font-size;
  font-weight: $global-weight-bold;
  padding: $global-margin 0;
  margin-top: $global-margin * 3;

  ul{
    line-height: 2;
  }

  .header-tiny {
    text-transform: none;
  }
}

.pl-hero {
  background-color: #d96b27;
  color: $white;
  margin-bottom: $global-margin * 2;

  .header-large {
    color: #ffeec1;
  }

  .button {
    @include button-style($primary-color, auto, get-color(secondary));
    font-weight: bold;
  }
}

.ideas-grid {
  @include xy-grid();
  @include xy-gutters($global-margin, padding, right left, true);
  margin-bottom: $global-margin*2;

  .cell {
    @include xy-cell(full, true, $global-margin, padding, top right bottom left, null, false);

    @include breakpoint(large) {
      @include xy-cell(6, true, $global-margin, padding, top right bottom left, null, false);
    }
  }

  .card {
    margin-bottom: 0;

    // TODO: This is a hack to equalize car heights, which is dependent on content length.
    @include breakpoint(large) {
      min-height: 17.25rem;
    }
  }
}

.disqus {
  margin-top: $global-margin;
}
